/* General app styling */
.app {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
/*Header Style*/
.header {
    background-color: #062343;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.logo{
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
   
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}


/* Add Property Form */
.add-property-form {
    margin-bottom: 30px;
}

.add-property-form input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-property-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-property-form button:hover {
    background-color: #0056b3;
}

/*Update proerty form */
.update-property-form {
    margin-bottom: 30px;
}
.update-property-form input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-property-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-property-form button:hover {
    background-color: #0056b3;
}

/* Property List */
.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Property Card */
.property-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.property-card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.property-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.property-card button {
    padding: 8px 12px;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.property-card button:hover {
    background-color: #ff3d26;
    gap: 1rem;
}


.footer {
    background-color: #062343;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    
}
.contact{
    list-style: none;
        display: flex;
        justify-content: center;
        gap: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .main-content h1 {
        font-size: 24px;
    }

    .header h1 {
        font-size: 20px;
    }
}